<h1>To Do List Application</h1>

<h5>Enter A New Task</h5>
<label for="desc">Description:</label><br>
<input type="text" id="desc" name="desc" [(ngModel)]="addTaskValueDesc"><br>
<label for="sum">Summary:</label><br>
<input type="text" id="sum" name="sum" [(ngModel)]="addTaskValueSum"><br>

<button (click)="addTask()">Add</button>
<button (click)="getAllTask()">Refresh</button>

<div>
  <table class="table">
    <thead>
        <tr>
          <th>Id</th>
          <th>Description</th>
          <th>Summary</th>
         <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of taskArr">
          <th>{{task.id}}</th>
          <th>{{task.task_name}}</th>
          <th>{{task.task_sum}}</th>
          <th>
             <button (click)="deleteTask(task)">Delete</button>
          </th>
        </tr>
    </tbody>
  </table>
</div>

